extends layout

block content
  h1= title
  p Welcome to our test

  // Wrapper
  #wrapper

    // USER INFO
    #userInfo
      h2 User Info
      p
        strong Name:
        |  <span id='userInfoName'></span>
        br
        strong Age:
        |  <span id='userInfoAge'></span>
        br
        strong Gender:
        |  <span id='userInfoGender'></span>
        br
        strong Location:
        |  <span id='userInfoLocation'></span>
    // /USER INFO

    // USER LIST
    h2 User List
    #userList
      table
        thead
          th UserName
          th Email
          th Delete?
          th Update?
        tbody
    // /USER LIST

    // ADD USER
    h2 Add User
    #addUser
      fieldset
        input#inputUserName(type='text', placeholder='Username')
        input#inputUserEmail(type='text', placeholder='Email')
        br
        input#inputUserFullname(type='text', placeholder='Full Name')
        input#inputUserAge(type='text', placeholder='Age')
        br
        input#inputUserLocation(type='text', placeholder='Location')
        input#inputUserGender(type='text', placeholder='gender')
        br
        button#btnAddUser Add User
    // /ADD USER

    //GAME KEY AREA
    #keyDisplay
    br
    br
    h2 JOIN GAME
    p
      strong KEY:
      | <span id="keyspan"></span>
      br
    #keyInput
      fieldset
        button#btnGenerateKey Generate Key
    // /GAME KEY AREA

    //JOIN GAME INPUT AREA
    p
    #joinGame
      fieldset
        input#inputGameKey(type='text', placeholder='Enter Game Key')
        input#inputUserName(type='text', placeholder='Enter User Name')
        br
        button#btnJoinGame(onclick='joinGameDisp()') Join Game
    // /JOIN GAME INPUT AREA

    //GAME LOBBY DISPLAY
    ul#gameLobby

    script(src="/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-1.11.1.js")
    script.
      $(function () {
        var socket = io();
        var joinGameDisp = function() {
          socket.emit('join game', $('#inputGameKey').val());
          $('inputGameKey').val('');
          return false;
        };
        socket.on('join game', function(msg){
          $('#gameLobby').append($('<li>').text(msg));
        });
      });
  // /WRAPPER