* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 13px Helvetica, Arial;
	background: #1B6AC2;
	background: -moz-linear-gradient(45deg, #1B6AC2 0%, #2CABFF 49%, #FFFFFF 100%);
	background: -webkit-linear-gradient(45deg, #1B6AC2 0%, #2CABFF 49%, #FFFFFF 100%);
	background: linear-gradient(45deg, #1B6AC2 0%, #2CABFF 49%, #FFFFFF 100%);
}

#chatForm {
	background: #000;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 75%;
}

#chatForm input {
	border: 0;
	padding: 10px;
	width: 90%;
	margin-right: .5%;
}

#chatForm button {
	width: 9%;
	background: rgb(130, 224, 255);
	border: none;
	padding: 10px;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages li {
	padding: 5px 10px;
}

#messages li:nth-child(odd) {
	background: #eee;
}



#gameLobby li {
	padding: 15px 10px;
	background: rgba(80, 120, 255, 0.05);
}
