body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #1B6AC2;
    background: -moz-linear-gradient(45deg, #1B6AC2 0%, #2CABFF 49%, #FFFFFF 100%);
    background: -webkit-linear-gradient(45deg, #1B6AC2 0%, #2CABFF 49%, #FFFFFF 100%);
    background: linear-gradient(45deg, #1B6AC2 0%, #2CABFF 49%, #FFFFFF 100%);
    overflow-x: hidden;
}

h2 {
    margin:0 0 .5em 0;
}

a {
    color: #00B7FF;
}

#wrapper {
    width: 100%;
    /*max-width: 1080px;*/
    min-width: 320px;
    margin: auto;
    margin-top: 0;
    text-align: center;
}

input{
    margin-bottom: 15px;
}

/*#userList {
    margin:0 0 30px 0;
}
#userList table {
    border-collapse:separate;
    border-spacing:1px;
    background:#CCC;
}
#userList table th {
    background:#EEE;
    font-weight:600;
    padding:10px 20px;
    text-align:center;
}
#userList table tbody {
    padding:0; margin:0;
    border-collapse:collapse;
    border-spacing:0px;
}
#userList table td {
    background:#FFF;
    padding:5px 10px;
    text-align:center;
}

#userInfo {
    width:250px;
    position:absolute;
    top:0; left:0;
}
#userInfo p {
    padding:15px;
    border:1px solid #CCC;
    background:rgba(80,120,255,0.05);
}*/
#gameInfo {
    width:250px;
    position:absolute;
    top:300; left:0;
    padding:15px;
    border:1px solid #CCC;
    background:rgba(80,120,255,0.05);
}
#gameInfo p {
    padding:15px;
    border:1px solid #CCC;
    background:rgba(80,120,255,0.05);
}
fieldset {
    border:0;
    padding:0; margin:0;
}
#lbTable {
    border-collapse:separate;
    background-color: DodgerBlue;
    color: White;
    border: 1px solid black;
    text-align: center;
    margin: 1em auto;
}
#nbTable {
    border-collapse:separate;
    background-color: DodgerBlue;
    color: White;
    border: 1px solid black;
    text-align: center;
    margin: 1em auto;
}
#cbTable {
    border-collapse:separate;
    background-color: DodgerBlue;
    color: White;
    border: 1px solid black;
    text-align: center;
    margin: 1em auto;
}
#scoreTable {
    border-collapse:separate;
    background-color: DodgerBlue;
    color: White;
    border: 1px solid black;
    text-align: center;
    margin: 1em auto;
}
.key{
    font-size: 3em;
    color: white;
    font-weight: bold;
}
.user_card{
    border-radius: 10px;
    background-color: white;
    width: 200px;
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}
.large_card {
    background-color: white; 
    width: 95%;
    max-width: 600px;
    margin-bottom: 35px;
    margin-top: 25px;
    padding: 30px;
    text-align: center; 
    border-radius: 10px;
    border: 1px solid EEE;
}
.emptyCell {
    height: 28px;
    width: 28px;
    background-color: LightSkyBlue;
    border: 1px solid black;
}
.fullCell {
    height: 28px;
    width: 28px;
    background-color: DarkBlue;
    border: 1px solid black;
}
.scoreCell {
    height: 28px;
    width: 28px;
    background-color: DarkBlue;
    color: White;
    font-weight: bold;
    text-align: center;
}
.nameCell {
    height: 28px;
    width: 28px;
    background-color: DarkBlue;
    color: White;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}
.targetCell {
    height: 28px;
    background-color: LightSkyBlue;
    border: 1px solid black;
}
.fullTargetCell {
    height: 28px;
    background-color: DarkBlue;
    border: 1px solid black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bttn {
    -moz-box-shadow:inset 0px 12px 4px -1px #29bbff;
    -webkit-box-shadow:inset 0px 12px 4px -1px #29bbff;
    box-shadow:inset 0px 12px 4px -1px #29bbff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
    background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
    background-color:#2dabf9;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:12px 23px;
    text-decoration:none;
    text-shadow:0px 4px 3px #263666;
}
.bttn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
    background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
    background-color:#0688fa;
}
.bttn:active {
    position:relative;
    top:5px;
}
#chatForm {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 75%;
}
#chatForm input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}
#chatForm button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages li {
    padding: 5px 10px;
}
#messages li:nth-child(odd) {
    background: #eee;
}
#gameLobby li {
    padding: 15px 10px;
    background: rgba(80, 120, 255, 0.05);
}
#pickerButtons button {
    margin: 5px;
}